extends ../layouts/page.pug

block content
  h1= header
  form(role = 'form' method = 'GET' action = routes.coursesPath())
    label(for='search') Найти по названию: 
    input(type='search' name='term', value = term, id='search')
    input(type='submit' value='search')
  if courses.length === 0
    p Пока не добавлено ни одного курса
  else
    each course in courses
      div
        h2
          a(href=routes.coursePath(course.id)) #{course.title}
        p #{course.description}
